Client_EcommercePlatform/web/WEB-INF/wsdl/localhost_8080/WS-LoginRegister/LoginRegister.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://com/" name="LoginRegister">
<types>
<xsd:schema>
<xsd:import namespace="http://com/" schemaLocation="http://localhost:8080/WS-LoginRegister/LoginRegister?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="ReturnName">
<part name="parameters" element="tns:ReturnName"/>
</message>
<message name="ReturnNameResponse">
<part name="parameters" element="tns:ReturnNameResponse"/>
</message>
<portType name="LoginRegister">
<operation name="register">
<input wsam:Action="http://com/LoginRegister/registerRequest" message="tns:register"/>
<output wsam:Action="http://com/LoginRegister/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://com/LoginRegister/loginRequest" message="tns:login"/>
<output wsam:Action="http://com/LoginRegister/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="ReturnName">
<input wsam:Action="http://com/LoginRegister/ReturnNameRequest" message="tns:ReturnName"/>
<output wsam:Action="http://com/LoginRegister/ReturnNameResponse" message="tns:ReturnNameResponse"/>
</operation>
</portType>
<binding name="LoginRegisterPortBinding" type="tns:LoginRegister">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReturnName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LoginRegister">
<port name="LoginRegisterPort" binding="tns:LoginRegisterPortBinding">
<soap:address location="http://localhost:8080/WS-LoginRegister/LoginRegister"/>
</port>
</service>
</definitions>